@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#1f2937*/
body{
    font-family: 'Poppins';
    font-size: 16px;
    color: #F9FAF8;
    background: #1F2937;
}
/*
img{
    width: auto;
    height: 300px;
}
*/

ul{
    list-style-type: none;
}

.navbar{
    background: #1f2937;
    color: white;
    height: 60px;

}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: lightskyblue;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.top{
    background: #1f2937;
    color: white;
    min-height: 350px;

}
.top h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}
.top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top button{
     background: #0a51cc;
     color: white;
     padding: 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 28px;
     font-weight: bold;
     margin: 16px 2px;
     cursor: pointer;
     border-radius: 12px;
     font-family: 'Poppins';

 }

.middle{
    background: white;
    color: #1F2937;
    min-height: 200px;
}

.middle h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}
.middle .container{
    display: flex;
    justify-content: center;
}

.middle h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight:bolder;
    padding: 20px 15px;
}

.box{
    flex: 1;
    background: #0a51cc;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 100px 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
}

.boxes{
    display: flex;
}


.under {
    display: flex;
    justify-content: center;
    margin: 0px 2px;
}

.under .text{
    flex: 1;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 15px 20px;
}


.quote{
    background: #E5E7E8;
    color: #1F2937;
}

.quote .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    flex-direction: column;
}

.quote p{
    display: flex;
    font-size: 36px;
    font-style: italic;
    
}


@media(max-width: 768px)
{
    .top .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .middle .container{
        display: flex;
        text-align: center;
    }

    .quote .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
}